<h1><%= @user.name %></h1>
<h3>Projects: </h3>
<ul>
	<% @user.projects.each do |project| %>
		<li><%= link_to project.title, user_project_path(@user, project) %></li>
	<%end %>
</ul>

<div class="user_reviews">
	<p><%= @user.name %>'s projects have <span class="really_green">recieved</span> these reviews: </p>
	<% if !@user.reviews.empty? %>
		<ul>
			<%= render :partial => "reviews_recieved", :collection => @reviews %>
		</ul>
	<% else %>
		<p>Nothing to show.</p>
	<% end %>
</div>
<br>
<div class="user_reviews">
	<p><%= @user.name %> has <span class="really_green">contributed</span> these reviews: </p>
	<% if !@authored_reviews.empty? %>
		<ul>
			<%= render :partial => "authored_reviews", :collection => @authored_reviews %>
		</ul>
	<% else %>
		<p>Nothing to show.</p>
	<% end %>
</div>