<br>
<h2><%= @project.title %> </h2>
<h5>by <%= link_to @user.name, user_path(@user) %></h5>
<% if current_user.id == @project.user_id %>
<%= link_to "Edit", edit_user_project_path(@user, @project) %>
<% end %>

<p><%= @project.description %></p>

<h4>Supplies</h4>
<ul>
<% @project.supplies.each do |supply| %>
<li><%= link_to supply.title, supply_path(supply) %> - $<%= supply.price %></li>

<% end %>


</ul>

<h3>Reviews: </h3>

<%= form_for @review do |f| %>
<%= f.hidden_field :author_id, :value => current_user.id %>
<%= f.hidden_field :project_id, :value => @project.id %>
<%= f.label :content %>
<%= f.text_area :content %><br>
<%= f.label :rating %>
<%= f.radio_button :rating, '1' %>1
<%= f.radio_button :rating, '2' %>2
<%= f.radio_button :rating, '3' %>3
<%= f.radio_button :rating, '4' %>4
<%= f.radio_button :rating, '5' %>5<br>
<%= f.submit "Submit Review" %>

<% end %>
<% if @project.reviews.empty? %>
	Nothing to show.
	<% else %>
<ul>
<% @project.reviews.each do |review| %>
	<li>"<%= review.content %>"" - Rating: <%= review.rating %> By <%= link_to review.author.name, user_path(review.author) %></li>

<% end %>

</ul>

<% end %>