<br>
<h2><%= @project.title %> (<%= @project.average_rating %>/5.0 average rating) </h2>
<% if current_user.id == @project.user_id %>
	<%= link_to "Edit", edit_user_project_path(@user, @project) %>
	<%= link_to "Delete", user_project_path(@user, @project), :method => :delete %>
<% end %>
<h5>by <%= link_to @user.name, user_path(@user) %></h5>

<div class = "description">
	Description:<p><%= @project.description %></p>
</div>

<div class="supplies">
	Supplies:<br>
	----------------------
	<% if !@project.supplies.empty? %>
		<ul class="list_of_supplies">
			<%= render :partial => "supply", :collection => @project.supplies.uniq %>
			----------------------
			<li class="supply_list">Total Cost: $<%= @project.total_price %></li>

		</ul>
	<% else %>
		<p>No supplies listed.</p>
	<% end %>
</div>
<br>
<div class="comment_form">
	Write a review:
	<%= render :partial => "comment_form", locals: {project: @project, review: @review} %>
</div>
<h3>Reviews: </h3>
<% if @project.reviews.empty? %>
	No Comments Yet.
<% else %>
	<ul class="project_comments">
		<%= render :partial => "review", :collection => @project.reviews %>
	</ul>
<% end %>

<script>

$(function(){
	var form = $('form')
	form.submit(function(e){
		e.preventDefault();
		form.removeClass('hidden');
 		$.post(this.action, form.serialize())
 			.success(function(data){
 				form.each(function(){
 					this.reset();
 				})
 				$('#submit').attr("disabled", false)
 				$('.project_comments').append(data)
 			})
	})
})

</script>