<br>
<h2><%= @project.title %> </h2>
<h5>by <%= link_to @user.name, user_path(@user) %></h5>
<% if current_user.id == @project.user_id %>
<%= link_to "Edit", edit_user_project_path(@user, @project) %>
<% end %>

<p><%= @project.description %></p>

<h4>Supplies</h4>
<ul>
<% @project.supplies.each do |supply| %>
<li><%= link_to supply.title, supply_path(supply) %> - $<%= supply.price %></li>

<% end %>


</ul>