<h3>Welcome, <%= @user.name %>!(<%= link_to "Create a new project", new_user_project_path(@user) %>)</h3>
<div class="timeline">
<h4>New Projects From Members:</h4>
<ul>
<% @projects.each do |project| %>
<li><%= link_to project.title, user_project_path(project.user, project) %> - <em><%= project.description %></em> (<%= project.user.name %>)</li>

<% end %>
</ul>
</div>

<div class="members">
	<h4>Arts&Crafts Members:</h4>
	<ul>
		<% @users.each do |user| %>
			<li><%= link_to user.name, user_path(user) %></li>
		<% end %>
	</ul>
</div>