<!DOCTYPE html>
<html>
  <head>
    <title>ArtsAndCrafts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag :all %>
  </head>

  <body>
  <h1 class="main_heading">ARTS&CRAFTS</h1>
   <div class="topnav" id="myTopnav">
  <%= link_to "Home", home_path %>
  <a href="/top_rated">Top Rated Projects</a>
  <a href="/low_cost">Low-Cost Projects</a>
  <%= link_to "About", about_path %>
  <%= link_to "Sign out", '/logout' if logged_in? %>
</div>
  <%= render "layouts/messages" %>
    <%= yield %>
  </body>
</html>
